<div class="main">
    <mat-list-item class="tittle-container">
        <mat-label> {{assistants.length}} Asistentes </mat-label>
        <mat-icon>back</mat-icon>
    </mat-list-item>

    <span *ngFor="let assistant of assistants">
        <mat-card class="card">
            <mat-card-header>
                <div mat-card-avatar class="header-img">
                    <img src="{{assistant.user.image_url}}" alt="" />
                </div>
                <mat-card-title>{{assistant.user.name}} {{assistant.user.surname}}</mat-card-title>
                <mat-card-subtitle>
                    <mat-icon class="star-icon" *ngIf="assistant.user.punctuation_avg>=1">star</mat-icon>
                    <mat-icon class="star-icon" *ngIf="assistant.user.punctuation_avg>=2">star</mat-icon>
                    <mat-icon class="star-icon" *ngIf="assistant.user.punctuation_avg>=3">star</mat-icon>
                    <mat-icon class="star-icon" *ngIf="assistant.user.punctuation_avg>=4">star</mat-icon>
                    <mat-icon class="star-icon" *ngIf="assistant.user.punctuation_avg>=5">star</mat-icon>
                    <span>{{assistant.user.punctuation_avg}} / 10</span>
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </span>
    <mat-toolbar class="back-toolbar">
        <button mat-icon-button (click)="back()">
            <mat-icon class="empty-icons">arrow_back</mat-icon>
        </button>
        </mat-toolbar>
</div>