@import "./../../../assets/variablesSass/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


.main{
    background-image: $image-background;
  min-height: 100%;
  min-width: 100vw;
  box-sizing: border-box;
  padding: 10px 20px 150px 20px;
  box-sizing: border-box;
  color: $color-text-darkmode;
  max-height: 100vh;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.tittle-container{
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid ;
    margin-bottom: 10px;
}

.tittle{
    font-size: 1rem;
    margin-right: 10px;
}

.star-icon{
    color: yellow;
}

.header-img{
    overflow: hidden;
    border-radius: 200px;
}

.header-img img{
    height: 100%;
    width: 100%;
    
}

.card{
    background-color: transparent;
    color: white;
    border: none;
    box-shadow: none;
}

mat-card-subtitle{
    display: flex;
    gap: 6px;
    align-items: center;

}

mat-card-subtitle span{
    color: white;
}

.back-toolbar{
    position: absolute;
    width: 100%;
    max-width: 100vw;
    height: 60px;
    box-sizing: border-box;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    bottom: 60px;
    left: 0;
    z-index: 3;
}

.empty-icons{
    color:white;
    text-shadow: 3px 3px 15px black;
  }

  
/*   @media (min-width: 1024px) {
    .main{
        margin-left:30%;
        margin-right:30%;
        box-sizing: border-box;
    }
} */