<main class="main-administration" [@modalAnimation]>
    <mat-tab-group mat-stretch-tabs class="mat-tab-group-admin">
        <span class="tabs">
            <mat-tab>
                <ng-template mat-tab-label class="mat-tab-label">
                    <mat-icon *ngIf="users.length>0" matBadge={{users.length}} matBadgePosition="before">people</mat-icon>
                    <span> Usuarios</span>
                </ng-template>
                <span>
                    <mat-toolbar class="reports-toolbar">
                        <span>Informes</span>
                        <button mat-flat-button (click)="getUsersPDF($event)">
                            <mat-icon>print</mat-icon>
                        </button>
                        <button mat-flat-button [disabled]="true">
                            <mat-icon>email</mat-icon>
                        </button>

                    </mat-toolbar>
                    <div class="header">
                        <div class="header__logo">
                            <img src="{{openCanariasLogo}}" alt="Open Canarias">
                            <h4 class="logo-tittle">Ocio Open ®</h4>
                        </div>
                        <div class="header__data" *ngIf="eventsState!='active'">
                            <div class="header__data--tittle">
                                <p><b>{{userData.name}} </b> {{userData.surname}}</p>
                            </div>
                            <mat-list-item>
                                <mat-form-field appearance="outline" class="header__data--search-bar">
                                    <mat-label>Búsqueda</mat-label>
                                    <input matInput type="text" placeholder="Buscar por apellido..." name="search"
                                        #searchUsers [(ngModel)]="wordUsers" (keyup)="filterUsersByWord($event)"
                                        autocomplete="off">
                                    <mat-icon matSuffix>search</mat-icon>
                                </mat-form-field>
                            </mat-list-item>
                        </div>
                    </div>
                </span>
                <app-users-table [refreshUsers]="usersSubject" [users]="users"></app-users-table>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label class="mat-tab-label">
                    <mat-icon *ngIf="events.length>0" matBadge={{events.length}} matBadgePosition="before">celebration</mat-icon>
                    <span>Eventos</span>
                </ng-template>
                <span>
                    <div class="header">
                        <div class="header__logo">
                            <img src="{{openCanariasLogo}}" alt="Open Canarias">
                            <h4 class="logo-tittle">Ocio Open ®</h4>
                        </div>
                        <div class="header__data" *ngIf="eventsState!='active'">
                            <div class="header__data--tittle">
                                <p><b>{{userData.name}} </b> {{userData.surname}}</p>
                            </div>
                            <mat-list-item>
                                <mat-form-field appearance="outline" class="header__data--search-bar">
                                    <mat-label>Búsqueda</mat-label>
                                    <input matInput type="text" placeholder="Buscar por titulo..." name="search"
                                        #searchEvents [(ngModel)]="wordEvent" (keyup)="filterEventsByWord($event)">
                                    <mat-icon matSuffix autocomplete="off">search</mat-icon>
                                </mat-form-field>
                            </mat-list-item>
                        </div>
                    </div>
                </span>
                <app-events-table [refreshEvents]="eventsSubject" [events]="events"></app-events-table>
            </mat-tab>
        </span>
    </mat-tab-group>

</main>

<router-outlet></router-outlet>