
    <p mat-dialog-title>Selecciona...</p>
    <mat-dialog-content>
        <div class="slider">
            <div class="images-div" *ngFor="let image of images">
                <app-image-viewer [imageId]="image.id"></app-image-viewer>
                <div class="select-div" (click)="selectImage(image.id)" [@filter]="filterState">
                    <p class="select-text">Seleccionar</p>
                </div>
            </div>
        </div>
    </mat-dialog-content>
<app-loading-logo></app-loading-logo>



