@import "./../../../assets/variablesSass/variables.scss";


.main {
  max-width: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  max-height: calc(100vh - 80px);
  z-index: 15;
  top: 0;
  left: 0;
  color: $color-text-darkmode;
  text-shadow: 1px 1px 4px black;
  max-height: 100%;
  
}

.main p{ 
width: 100%;
font-size: 1.1rem;
display: flex;
justify-content: center;
  }
.slider{
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    display: flex;
    white-space: nowrap;
    max-width: 100%;
    max-height: 100%;
    padding: 0 10px;
    
}

.images-div {
  margin: 20px 0;
  box-sizing: border-box;
  min-width: 95%;
  overflow: hidden;
  padding: 0;
  margin-right: 10px;
  scroll-snap-align: center;
  min-height: 60%;
  align-items: center;
  border-radius: 12px;
  position: relative;
  max-height: 60%;
  overflow: hidden;
}

button{
    width: 111.8px;
    height: 46.43px;
    background-color: transparent;
    border: 3px red solid;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
    margin-left: 5px;
    color: $color-text-darkmode;
    font-size: 1rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
    margin: 0 10px;
    cursor: pointer;
}


.select-div{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
/*   display: none; */
}

.select-text{
  display:none;
  width: 100%;
  height: 100%;
  color: $color-text-darkmode;
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}