<app-loading-logo></app-loading-logo>


<div class="modal-title-container">
    <p mat-dialog-title>Selecciona...</p>
    <button mat-icon-button mat-dialog-close cdkFocusInitial>
        <mat-icon>close</mat-icon>
    </button>
</div>


<mat-dialog-content>
    <span *ngFor="let image of images">
        <div class="images-div">
            <app-image-viewer class="image-viewer" [resetFormSubject]="subjectImage" [imageId]="image.id">
            </app-image-viewer>

            <mat-dialog-actions align="end">
                <button class="select-button" mat-raised-button [mat-dialog-close]="image.id"
                    cdkFocusInitial>Seleccionar</button>
            </mat-dialog-actions>
        </div>

    </span>
</mat-dialog-content>