@import "./../../../../assets/variablesSass/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.container {
  position: absolute;
  top: 0;
  left: 0;
  background-image: $image-background;
  height: 100%;
  max-height: 100%;
  padding-bottom: 200px;
  width: 100vw;
  z-index: 5;
  background-image: $image-background;
}
.date-toolbar{
  background-color: $header-footer;
  color: $color-text-darkmode;
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  gap: 5px;
}

.back-button{
  position: absolute;
  right: 10px;
}


.main-container {
  overflow-y: scroll;
  max-height: calc(100vh);
}








