<div class="container" [@modalAnimation]>
    <mat-toolbar class="date-toolbar">
        <mat-icon>person</mat-icon>
        <span> Perfil del Usuario</span>
        <button class="back-button" mat-icon-button (click)="back()" align="end">
            <mat-icon class="empty-icons">arrow_back</mat-icon>
        </button>
    </mat-toolbar>

    <app-profile [userEmail]="userEmail"></app-profile>
    <app-permissions-table [refreshPermissions]="permissionsSubject" [refreshUserPermissions]="userPermissionsSubject" (editedUserPermissions)="updateUser($event)"></app-permissions-table>


   <!--  <div class="main-permissions">
        <div class="users-table-container">
            <table>

                <tr>
                    <th>Nombre </th>
                    <th>Si/No </th>

                </tr>

                <tr *ngFor="let permission of permissions, let i=index">
                    <td>{{permission}}</td>
                    <td><input type="checkbox" id="{{permission}}" checked="{{checkPermission(permission)}}"
                            (change)="tooglePermission(permission, $event.target)"></td>
                </tr>
            </table>
        </div>
    </div> -->


</div>