 <main class="main-container" [@modalAnimation]>
    <div class="main">
        <mat-toolbar><button mat-icon-button class="previous" (click)="changueMonth(-1)">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <button mat-icon-button class="next" (click)="changueMonth(1)">
                <mat-icon>arrow_forward</mat-icon>
            </button>
            <h3>{{dateSelectedFormatLocale()}}</h3>
        </mat-toolbar>

        <ul class="month-list">
            <li *ngFor="let day of week" class="day-name">{{day}}</li>

            <li class="day-number" [style.gridColumnStart]="first ? day?.indexWeek : 'auto'"
                *ngFor="let day of monthSelected; let first = first" (click)="selectDay(day)">
                <app-day-events [events]="events" [date]="formatDate(day)" [dayValue]="day.value"></app-day-events>
            </li>
        </ul>
    </div>

</main>
<router-outlet></router-outlet>