<!-- 
<app-loading-logo [loader]="loading"></app-loading-logo> -->
<main class="main-container">
<div class="main" *ngIf="events">
    <p class="previous" (click)="changueMonth(-1)"><img src="{{previousIcon}}" alt=""></p>
    <p class="next" (click)="changueMonth(1)"><img src="{{nextIcon}}" alt=""></p>
    <h3>{{dateSelectedFormatLocale()}}</h3>
    <ul class="month-list">
        <li *ngFor="let day of week" class="day-name">{{day}}</li>

        <li class="day-number" [style.gridColumnStart]="first ? day?.indexWeek : 'auto'"
            *ngFor="let day of monthSelected; let first = first" (click)="selectDay(day)">
            <app-day-events [events]="events" [date]="formatDate(day)" [dayValue]="day.value"></app-day-events>
        </li>
    </ul>
</div>

</main>

