<main class="main-container" [@modalAnimation]>
        <mat-tab-group class="mat-tab-group-events" mat-stretch-tabs dynamicHeight="true">
            <span class="tabs">
                <mat-tab>
                    <ng-template mat-tab-label class="mat-tab-label">Disponibles</ng-template>
                    <div class="tab-content">
                        <app-slideshow [future]=true></app-slideshow>
                    </div>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label class="mat-tab-label">Terminados</ng-template>

                    <div class="tab-content">
                        <app-slideshow [future]=false></app-slideshow>
                    </div>

                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label class="mat-tab-label">Mis Eventos</ng-template>
                    <span>

                        
                    </span>
                    <div class="tab-content">
                        <app-myevents class="myevents"></app-myevents>
                    </div>
                </mat-tab>
            </span>
        </mat-tab-group>
</main>

<router-outlet></router-outlet>