<main class="main-container" [@modalAnimation]>
    <div class="main">
        <mat-tab-group mat-stretch-tabs>
            <span class="tabs">
                <mat-tab>
                    <ng-template mat-tab-label class="mat-tab-label">Disponibles</ng-template>
                    <div class="tab-content">
                        <app-slideshow [future]=true></app-slideshow>
                    </div>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label class="mat-tab-label">Terminados</ng-template>

                    <div class="tab-content">
                        <app-slideshow [future]=false></app-slideshow>
                    </div>

                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label class="mat-tab-label">Mis Eventos</ng-template>
                    <div class="tab-content">
                        <app-myevents></app-myevents>
                    </div>
                </mat-tab>
            </span>
        </mat-tab-group>
    </div>
</main>

<router-outlet></router-outlet>