@import "./../../../../assets/variablesSass/variables.scss";

.card-button-container {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 10vh;
  
}
.card-button-container p {
  margin: 2px;
  
}
.card-button-subcontainer {
  width: 60%;
  border-top: solid white 1px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-top: 10px;
}

.full-star mat-icon{
font-size: 30px;
cursor: pointer;
margin: 0 2px;
color: yellow;

}

.empty-star mat-icon{
  font-size: 30px;
  cursor: pointer;
  margin: 0 2px;
  color: yellow;
}

