<div class="card-button-container" *ngIf="assisted==true">
    <p>¿Puntuación?</p>
    <div class="card-button-subcontainer">
        <div class="empty-star">
            <img src="{{emptyStar}}" alt="" *ngIf="myPunctuation==0||myPunctuation==undefined" (click)="createOrUpdatePunctuation(1)">
        </div>
        <div class="full-star">
            <img src="{{fullStar}}" alt="" *ngIf="myPunctuation>=1" (click)="createOrUpdatePunctuation(1)">
            <img src="{{emptyStar}}" alt="" *ngIf="myPunctuation<=1 ||myPunctuation==undefined" (click)="createOrUpdatePunctuation(2)">
        </div>
        <div class="full-star">
            <img src="{{fullStar}}" alt="" *ngIf="myPunctuation>=2" (click)="createOrUpdatePunctuation(2)">
            <img src="{{emptyStar}}" alt="" *ngIf="myPunctuation<=2 ||myPunctuation==undefined" (click)="createOrUpdatePunctuation(3)">
        </div>
        <div class="full-star">
            <img src="{{fullStar}}" alt="" *ngIf="myPunctuation>=3" (click)="createOrUpdatePunctuation(3)">
            <img src="{{emptyStar}}" alt="" *ngIf="myPunctuation<=3 ||myPunctuation==undefined" (click)="createOrUpdatePunctuation(4)">
        </div>
        <div class="full-star">
            <img src="{{fullStar}}" alt="" *ngIf="myPunctuation>=4" (click)="createOrUpdatePunctuation(4)">
            <img src="{{emptyStar}}" alt="" *ngIf="myPunctuation<=4 || myPunctuation==undefined" (click)="createOrUpdatePunctuation(5)">
        </div>
        <div class="full-star">
            <img src="{{fullStar}}" alt="" *ngIf="myPunctuation>=5" (click)="createOrUpdatePunctuation(5)">
        </div>
       
    </div>
</div>
<div class="card-button-container" *ngIf="assisted!=true">
    <p>No asististe al evento</p>
</div>


<div #modal></div> 