<div class="container">
    <h2 class="login-h2">Inicio de sesión</h2>
    <div class="login-header-text">
        <div class="login-header-__logo-container">
            <img  class="login-header-text__logo" src="{{openCanariasLogo}}" alt="Open Canarias">
            <h3 class="login-h3">Ocio Open ®</h3>
        </div>
        <p class="login-p-bolder">¡Bienvenido a tu red social preferida!</p>
    </div>
    <div class="login-button-container">
        <p class="login-p-light">
            Inicia sesión con tu cuenta de Google de Open Canarias:
        </p>
        <button mat-raised-button (click)="signInWithGoogle()" tabindex=0>
            <img class="login-button-icon" src="{{ googleIcon }}" alt="googleIcon" />
            Iniciar sesión con Google
        </button>
    
        
    
      <!--   <a class="login-p-light-underline" (click)="adminFormVisibilityToggle()" ><p>¿Eres administrador?</p></a>
        <form  class="login-admin-form" *ngIf="adminFormVisibility">
            <label for="apiKeyToken" >Introduce tu clave de administrador</label>
            <input type="password" id="apiKeyToken" placeholder="Clave..." name="apiKeyToken" #apiKeyToken (keyup)="setApiKeyValue(apiKeyToken.value)" (mouseleave)="setApiKeyValue(apiKeyToken.value)" />
        </form> -->
    </div>
</div>




