@import "./../../../assets/variablesSass/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");


.main-container{
  width: 100vw;
  height: 100%;
  max-height: 100vh;
  padding-bottom: 250px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
}


::ng-deep .mat-tab-group-custom {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

::ng-deep mat-tab{
  background-color: $header-footer !important;
}
::ng-deep mat-ink-bar{
  background-color: orange !important;
}
::ng-deep .mat-tab-label {
  color: white !important;
  background-color: $header-footer !important;
}
::ng-deep .mat-tab-header-pagination {
  display: none !important;
} 

.tab-content {
  align-items: center;
  justify-content: center;
  display: flex;
  height: calc(100vh - 100px);
  overflow: hidden;
  width: 100vw;
  padding: 0;
  margin: 0;
}

.tittle-container{
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid white ;
  margin-bottom: 10px;
  color: white;
  
}
.tittle{
  font-size: 1rem;
  margin-right: 10px;
}

.star-icon{
  color: yellow;
}

.header-img{
  overflow: hidden;
  border-radius: 200px;
}

.header-img img{
  height: 100%;
  width: 100%;
  
}

.card{
  background-color: transparent;
  color: white;
  border: none;
  box-shadow: none;
}

mat-card-subtitle{
  display: flex;
  gap: 6px;
  align-items: center;

}

mat-card-subtitle span{
  color: white;
}
.empty-icons{
  color:white;
  text-shadow: 3px 3px 15px black;
}

