<div class="main-container" [@modalAnimation]>
    <mat-toolbar class="date-toolbar">
        <mat-icon>person</mat-icon>
        <span> Perfil del Usuario</span>
        <button class="back-button" mat-icon-button (click)="back()" align="end">
            <mat-icon class="empty-icons">arrow_back</mat-icon>
        </button>
    </mat-toolbar>
    <app-profile [userEmail]="userEmail"></app-profile>

    <mat-list class="timestamp">
        <mat-list-item><button mat-raised-button color="warn" routerLink="permissions/{{userEmail}}">Modificar Permisos</button></mat-list-item>
        <mat-list-item>
            <p>Alta <span>{{formatDateString(user.createdAt)}}</span></p>
        </mat-list-item>
        <mat-list-item>
            <p>Ultima conexión <span>{{formatDateTime(user.lastconnection)}}</span></p>
        </mat-list-item>
        <mat-list-item>
            <p>Eventos Asistidos <span>{{attendanceCounter}}</span></p>
        </mat-list-item>
        <mat-list-item>
            <p>Eventos Organizados <span>{{events.length}}</span></p>
        </mat-list-item>
    </mat-list>
    <app-user-events-table [refreshEvents]="eventsSubject" [events]="events"></app-user-events-table>


    
</div>

<router-outlet></router-outlet>

<!-- <app-permissions *ngIf="permissionsModal==true" [userPosition]="userPosition" [user]="user"
    [attendanceCounter]="attendanceCounter" (closePermissions)="closePermissionsModal($event)"></app-permissions> -->