@import "./../../../../assets/variablesSass/variables.scss";

.card-button-container {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 10vh;
}
.card-button-container p {
  margin: 2px;
}
.card-button-subcontainer {
  width: 60%;
  border-top: solid white 1px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-top: 10px;
}
.yes-button {
  width: 111.8px;
  height: 46.43px;
  background-color: transparent;
  border: 3px green solid;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-right: 5px;
  color: $color-text-darkmode;
  font-size: 1rem;
  cursor: pointer;
}
.no-button {
  width: 111.8px;
  height: 46.43px;
  background-color: transparent;
  border: 3px red solid;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-left: 5px;
  color: $color-text-darkmode;
  font-size: 1rem;
  cursor: pointer;
}
