@import "./../../../assets/variablesSass/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");


.star-icon{
  color: yellow;
}

.header-img{
  overflow: hidden;
  border-radius: 200px;
  width: 60px;
  height: 60px;
  border: solid white 2px;
}

.header-img img{
  height: 100%;
  width: 100%;
}

.card{
  background-color: transparent;
  color: white;
  border: none;
  box-shadow: none;
}

mat-card-subtitle{
  padding-top: 5px;
  display: flex;
  gap: 6px;
  align-items: center;
}

mat-card-subtitle span{
  color: white;
}


  