<mat-card class="card">
    <mat-card-header>
        <div mat-card-avatar class="header-img">
            <img *ngIf="user.image_url==undefined" src="{{profileAvatar}}" alt="" />
            <img *ngIf="user.image_url" src="{{user.image_url}}" alt="" />
        </div>
        <mat-card-title>
            <b>{{user.name}} </b>{{user.surname}}
        </mat-card-title>
        <mat-card-title><b>{{userPosition}}º</b> posición</mat-card-title>
        <mat-card-subtitle>
            <mat-icon class="star-icon" *ngIf="user.punctuation_avg>=1">star</mat-icon>
            <mat-icon class="star-icon" *ngIf="user.punctuation_avg>=2">star</mat-icon>
            <mat-icon class="star-icon" *ngIf="user.punctuation_avg>=3">star</mat-icon>
            <mat-icon class="star-icon" *ngIf="user.punctuation_avg>=4">star</mat-icon>
            <mat-icon class="star-icon" *ngIf="user.punctuation_avg>=5">star</mat-icon>
            <span>{{user.punctuation_avg*2}} / 10</span>
        </mat-card-subtitle>
    </mat-card-header>
</mat-card>
