@import "./../../../assets/variablesSass/variables.scss";


.star-icon{
    color: yellow;
  }
  
.background-image-div{
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    object-fit: cover;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
app-image-viewer img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

::ng-deep.mat-dialog-container {
    z-index: 10 !important;
    background-image: $image-background;
    border-radius: 10px;
    border: solid $color-text-menu 2px;
    color: white;
  }
  

mat-card-header{
    padding: 10px;
    margin: -2;
    z-index: 2;
    position: relative;
    top: 0;
    left: 0;
    color: white;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      );
}

.actions{
    position: relative;
    color: white;
    z-index: 5;
   justify-content: flex-end;
   width: 100%;
}
mat-card-subtitle{
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

mat-card{
    margin: 10px 0;
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
}


.main-container{
    width: 100vw;
    height: 100vh;
    min-width: 100vw;
    position: relative;
    overflow: scroll;
    top: 0;
    left: 0;
    padding: 0;
    padding: 0 20px;
    padding-bottom: 200px;
    box-sizing: border-box;
    
  }


  .empty-list{
    width: 100%;
    text-align: center;
    color: rgba($color: white, $alpha: .4);
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}


.available-events__container{
    color: $color-text-darkmode;
    width: 100%;

}

.tittle__container{
    width: 100%;
    display: flex;
    padding-bottom: 15px;
    border-bottom: 1px solid $color-text-darkmode;
    background-color: transparent;
    color: white;
    box-sizing: border-box;
    
}

.available-events__tittle{
    width: calc(100% - 50px);
    height: 50px;
    display: flex;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    justify-content: center;
    font-size: 1.1rem;
}

.add-button{
    color: white;
    background: transparent;
    border: solid 3px rgb(0, 255, 0);
}

.available-events__item--container{
    width: 100%;
    padding-top: 15px;
}

.available-events__item{
    width: 100%;
    display: flex;
    height: 60px;
    align-items: center;
    font-size: 0.8rem;
    padding-left: 10px;
    box-sizing: border-box;
}

.available-events__item:nth-child(even){
    background-color: rgba(255,255,255,0.2);
    border-radius: 8px;
}

.available-events__item--text{
    width: calc(100% - 110px);
}

.trash-button{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: transparent;
    border: solid 3px rgb(255, 0, 0);
    box-shadow: 3px 3px 5px rgba($color: #000000, $alpha: .6);
    cursor: pointer;
}

.edit-button{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: transparent;
    border: solid 3px rgb(3, 5, 3);
    box-shadow: 3px 3px 5px rgba($color: #000000, $alpha: .6);
    margin-left: 10px;
    cursor: pointer;
}

.finalized-events__container{
    color: $color-text-darkmode;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 80px;

}

.finalized-events__item--container{
    width: 100%;
    padding-top: 15px;
}
.finalized-events__tittle{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    justify-content: center;
    font-size: 1.1rem;
}
.finalized-events__item{
    width: 100%;
    display: flex;
    height: 60px;
    align-items: center;
    font-size: 0.8rem;
    padding-left: 10px;
    box-sizing: border-box;
}

.finalized-events__item:nth-child(even) {
    background-color: rgba(255,255,255,0.2);
    border-radius: 8px;
}
.finalized-events__item--text{
    width: calc(100% - 60px);
}


/* @media (min-width: 1024px) {
    .contain-main__container{
        margin-left:20%;
        margin-right:20%;
        box-sizing: border-box;
    }
}

 */