<a href="home#45" style="display:hidden" id="url"></a>

<h3 class="notevents" *ngIf="events.length<=0">Aun no hay eventos</h3>

<section orientation="horizontal" class="slider" *ngIf="dateToFilter" itemSize="50">
    <div class="card-container" *ngFor="let event of events">

        <div class="card">
            <p id="anchor{{event.event_id}}" style="display:hidden; size:0px;"></p>
            <p class="card-date">{{formatDate(event.date)}}</p>
            <p class="car-tittle">{{event.tittle}}</p>
            <div class="card-data-container">
                <div class="card-data-container__row">
                    <div class="row__div" href="">
                        <img class="row__a--icon" src="{{profileIcon}}" alt="icon">
                        <p>{{event.organizerdata.name + " " +event.organizerdata.surname}}</p>
                        <div class="star-container">
                            <img *ngIf="event.organizerdata.punctuation_avg>=1" src="{{miniStar}}" alt="miniStar">
                            <img *ngIf="event.organizerdata.punctuation_avg>=2" src="{{miniStar}}" alt="miniStar">
                            <img *ngIf="event.organizerdata.punctuation_avg>=3" src="{{miniStar}}" alt="miniStar">
                            <img *ngIf="event.organizerdata.punctuation_avg>=4" src="{{miniStar}}" alt="miniStar">
                            <img *ngIf="event.organizerdata.punctuation_avg>=5" src="{{miniStar}}" alt="miniStar">
                        </div>
                    </div>
                </div>
                <div class="card-data-container__row">
                    <div class="row__div" href="">
                        <img class="row__a--icon" src="{{zoneIcon}}" alt="icon">
                        <p>{{event.zone}}</p>
                    </div>
                </div>
                <div class="card-data-container__row">
                    <div class="row__div" href="">
                        <img class="row__a--icon" src="{{hourIcon}}" alt="icon">
                        <p>{{formatTime(event.date)}}</p>
                    </div>
                </div>
                <div class="card-data-container__row" *ngIf="event.zone!='VIRTUAL'">
                    <div class="row__div" href="">
                        <img class="row__a--icon" src="{{placeIcon}}" alt="icon">
                        <p>{{event.place}}</p>
                    </div>
                </div>
                <div class="card-data-container__row" *ngIf="event.zone=='VIRTUAL'">
                    <a class="row__a" href="{{event.place}}">
                        <img class="row__a--icon" src="{{navigateIcon}}" alt="icon">
                        <p>{{event.place}}</p>
                    </a>
                </div>
                <div class="card-data-container__row">
                    <a class="row__a" routerLink="/assistants/{{event.event_id}}" (click)="saveScroll(event.event_id)">
                        <img class="row__a--icon" src="{{assistantsIcon}}" alt="icon">
                        <p>{{filterByAttendance(event.assistants)}} Asistentes</p>
                    </a>
                </div>
                <div class="card-data-container__row">
                    <a class="row__a" routerLink="/comments/{{event.event_id}}" (click)="saveScroll(event.event_id)">
                        <img class="row__a--icon" src="{{commentIcon}}" alt="icon">
                        <p>{{event.comments.length}} Comentarios</p>
                    </a>
                </div>
                <div class="card-data-container__row card-data-container__row-last">
                    <p>{{event.description}}</p>
                </div>
            </div>
            <app-attendance *ngIf="datePastOrFuture(event.date)" [event_id]="event.event_id"></app-attendance>
            <app-valoration *ngIf="!datePastOrFuture(event.date)" [event_id]="event.event_id"></app-valoration>
            <div class="card-bakground">
                <app-image-viewer [imageId]="event.image_id"></app-image-viewer>
            </div>
            <div class="card-bakground-darkfilter">
            </div>

        </div>
    </div>
</section>




<section orientation="horizontal" class="slider" *ngIf="future==true&&events.length>0 && !dateToFilter" itemSize="50">

    <div class="card-container" *ngFor="let event of events">

        <div class="card">
            <p id="anchor{{event.event_id}}" style="display:hidden; size:0px;"></p>
            <p class="card-date">{{formatDate(event.date)}}</p>
            <p class="car-tittle">{{event.tittle}}</p>
            <div class="card-data-container">
                <div class="card-data-container__row">
                    <div class="row__div" href="">
                        <img class="row__a--icon" src="{{profileIcon}}" alt="icon">
                        <p>{{event.organizerdata.name + " " +event.organizerdata.surname}}</p>
                        <div class="star-container">
                            <img *ngIf="event.organizerdata.punctuation_avg>=1" src="{{miniStar}}" alt="miniStar">
                            <img *ngIf="event.organizerdata.punctuation_avg>=2" src="{{miniStar}}" alt="miniStar">
                            <img *ngIf="event.organizerdata.punctuation_avg>=3" src="{{miniStar}}" alt="miniStar">
                            <img *ngIf="event.organizerdata.punctuation_avg>=4" src="{{miniStar}}" alt="miniStar">
                            <img *ngIf="event.organizerdata.punctuation_avg>=5" src="{{miniStar}}" alt="miniStar">
                        </div>
                    </div>
                </div>
                <div class="card-data-container__row">
                    <div class="row__div" href="">
                        <img class="row__a--icon" src="{{zoneIcon}}" alt="icon">
                        <p>{{event.zone}}</p>
                    </div>
                </div>
                <div class="card-data-container__row">
                    <div class="row__div" href="">
                        <img class="row__a--icon" src="{{hourIcon}}" alt="icon">
                        <p>{{formatTime(event.date)}}</p>
                    </div>
                </div>
                <div class="card-data-container__row" *ngIf="event.zone!='VIRTUAL'">
                    <div class="row__div" href="">
                        <img class="row__a--icon" src="{{placeIcon}}" alt="icon">
                        <p>{{event.place}}</p>
                    </div>
                </div>
                <div class="card-data-container__row" *ngIf="event.zone=='VIRTUAL'">
                    <a class="row__a" href="{{event.place}}">
                        <img class="row__a--icon" src="{{navigateIcon}}" alt="icon">
                        <p>{{event.place}}</p>
                    </a>
                </div>
                <div class="card-data-container__row">
                    <a class="row__a" routerLink="../assistants/{{event.event_id}}"
                        (click)="saveScroll(event.event_id)">
                        <img class="row__a--icon" src="{{assistantsIcon}}" alt="icon">
                        <p>{{filterByAttendance(event.assistants)}} Asistentes</p>
                    </a>
                </div>
                <div class="card-data-container__row">
                    <a class="row__a" routerLink="../comments/{{event.event_id}}" (click)="saveScroll(event.event_id)">
                        <img class="row__a--icon" src="{{commentIcon}}" alt="icon">
                        <p>{{event.comments.length}} Comentarios</p>
                    </a>
                </div>
                <div class="card-data-container__row card-data-container__row-last">
                    <p>{{event.description}}</p>
                </div>
            </div>
            <app-attendance [event_id]="event.event_id"></app-attendance>
            <div class="card-bakground">
                <app-image-viewer [imageId]="event.image_id"></app-image-viewer>
            </div>
            <div class="card-bakground-darkfilter">
            </div>

        </div>
    </div>
</section>



<section orientation="horizontal" class="slider" *ngIf="future==false && !dateToFilter" itemSize="50">
    <div class="card-container" *ngFor="let event of events">

        <div class="card">
            <p id="anchor{{event.event_id}}" style="display:hidden; size:0px;"></p>
            <p class="card-date">{{formatDate(event.date)}}</p>
            <p class="car-tittle">{{event.tittle}}</p>
            <div class="card-data-container">
                <div class="card-data-container__row">
                    <div class="row__div" href="">
                        <img class="row__a--icon" src="{{profileIcon}}" alt="icon">
                        <p>{{event.organizerdata.name + " " +event.organizerdata.surname}}</p>
                        <div class="star-container">
                            <img *ngIf="event.organizerdata.punctuation_avg>=1" src="{{miniStar}}" alt="miniStar">
                            <img *ngIf="event.organizerdata.punctuation_avg>=2" src="{{miniStar}}" alt="miniStar">
                            <img *ngIf="event.organizerdata.punctuation_avg>=3" src="{{miniStar}}" alt="miniStar">
                            <img *ngIf="event.organizerdata.punctuation_avg>=4" src="{{miniStar}}" alt="miniStar">
                            <img *ngIf="event.organizerdata.punctuation_avg>=5" src="{{miniStar}}" alt="miniStar">
                        </div>
                    </div>
                </div>
                <div class="card-data-container__row">
                    <div class="row__div" href="">
                        <img class="row__a--icon" src="{{zoneIcon}}" alt="icon">
                        <p>{{event.zone}}</p>
                    </div>
                </div>
                <div class="card-data-container__row">
                    <div class="row__div" href="">
                        <img class="row__a--icon" src="{{hourIcon}}" alt="icon">
                        <p>{{formatTime(event.date)}}</p>
                    </div>
                </div>
                <div class="card-data-container__row" *ngIf="event.zone!='VIRTUAL'">
                    <div class="row__div" href="">
                        <img class="row__a--icon" src="{{placeIcon}}" alt="icon">
                        <p>{{event.place}}</p>
                    </div>
                </div>
                <div class="card-data-container__row" *ngIf="event.zone=='VIRTUAL'">
                    <a class="row__div" href="{{event.place}}">
                        <img class="row__a--icon" src="{{navigateIcon}}" alt="icon">
                        <p>Enlace al evento</p>
                    </a>
                </div>
                <div class="card-data-container__row">
                    <a class="row__a" routerLink="../assistants/{{event.event_id}}"
                        (click)="saveScroll(event.event_id)">
                        <img class="row__a--icon" src="{{assistantsIcon}}" alt="icon">
                        <p>{{filterByAttendance(event.assistants)}} Asistentes</p>
                    </a>
                </div>
                <div class="card-data-container__row">
                    <a class="row__a" routerLink="../comments/{{event.event_id}}" (click)="saveScroll(event.event_id)">
                        <img class="row__a--icon" src="{{commentIcon}}" alt="icon">
                        <p>{{event.comments.length}} Comentarios</p>
                    </a>
                </div>
                <div class="card-data-container__row card-data-container__row-last">
                    <p>{{event.description}}</p>
                </div>
            </div>
            <app-valoration [event_id]="event.event_id"></app-valoration>
            <div class="card-bakground">
                <app-image-viewer [imageId]="event.image_id"></app-image-viewer>
            </div>
            <div class="card-bakground-darkfilter">

            </div>
        </div>
    </div>
</section>






<div #modal></div>