<main class="main-comments" [@modalAnimation]>
    <mat-list-item class="tittle-container">
        <mat-label> {{comments.length}} Comentarios </mat-label>
        <mat-icon>back</mat-icon>
    </mat-list-item>
    <div *ngFor="let comment of comments, let i=index" id="commentscontainer" class="commentscontainer">
        <div class="message-container-mine" *ngIf="userEmail==comment.assistant">
            <div class="comment-content">
                <mat-chip-list>
                    <mat-chip class="comment-info">
                        <mat-chip-avatar>
                            <img class="avatar" src="{{comment.user.image_url}}" />
                        </mat-chip-avatar>
                        <p><b>Yo </b></p>
                    </mat-chip>
                </mat-chip-list>
                <div class="comment-string-mine">
                    <p>{{comment.comment}}</p>
                    <button mat-icon-button>
                        <mat-icon class="empty-icons" (click)="deleteComment(comment.comment_id, i)">cancel</mat-icon>
                    </button>
                </div>
                <div class="comment-date">{{formatTime(comment.date)}}</div>
            </div>
        </div>


        <div class="message-container-others" *ngIf="userEmail!=comment.assistant">
            <div class="comment-content">
                <mat-chip-list>
                    <mat-chip class="comment-info">
                        <mat-chip-avatar>
                            <img class="avatar" src="{{comment.user.image_url}}" />
                        </mat-chip-avatar>
                        <p><b>{{comment.user.name}} </b></p>
                    </mat-chip>
                </mat-chip-list>
                <div class="comment-string-others">
                    <p>{{comment.comment}}</p>
                </div>
                <div class="comment-date">{{formatTime(comment.date)}}</div>
            </div>
        </div>
    </div>

</main>

<mat-toolbar class="comment-editor-container">
    <mat-chip-list>
        <mat-chip class="writing-chip">
            <input (keydown)="keyDownFunction($event, textComment)" (keydown)="$event.stopImmediatePropagation()"
                #message maxlength="256" placeholder="Escribe tu comentario..." [(ngModel)]="textComment">
            <button  class="reset" *ngIf="textComment" matSuffix mat-icon-button aria-label="Clear" a (click)="textComment=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-chip>
    </mat-chip-list>

    <button *ngIf="textComment!=''" class="send" mat-mini-fab aria-label="Enviar" (click)="createComment(textComment)">
        <mat-icon>send</mat-icon>
    </button>
    <button *ngIf="textComment==''" class="back" mat-icon-button aria-label="Enviar" (click)="back()">
        <mat-icon class="empty-icons">arrow_back</mat-icon>
    </button>

</mat-toolbar>

