 @import "./../../../assets/variablesSass/variables.scss";

  .container {
    width: 100%;
    height: 100%;
    background: transparent;
  }
  
  .sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    overflow-x: scroll;
    padding-bottom: 150px;
  }
  
  .sidenav {
    padding: 20px;
    background-color: $color-background-menu;
  }
  
  .toolbar{
    background-color: $header-footer;
    color: $color-text-darkmode;
  }

  .app-name{
    padding-left: 5%;
    width: 100%;
  }
  .nav-header{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: $color-text-menu;
    font-size: 1.1rem !important;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 2px solid $color-text-menu;
  }

  .nav-header p{
    transform: translateY(3px);
  }
  mat-list-item p{
    color: $color-text-menu;
  }
.item-content{
  display: flex;
  padding-top: 5px;
}
.item-content mat-icon{
  color:$color-text-menu;
  margin-right: 5px;
  transform: translateY(-3px);
}

mat-slide-toggle{
  margin-left: 7px;
  transform: translateY(-1px);
}


