@import "./../../../assets/variablesSass/variables.scss";

::ng-deep.icon mat-icon{
    font-size: 40px !important;
    padding: 0;
    margin: 0;
    
}
.content{
    color: white;
    height: 120px;
}

.modal-title-container{
    display: flex;
    justify-content: space-between;
  }
  .modal-title-container button{
    transform: translateX(20px) translateY(-20px);
  }

p{  
    color: white;
    width: 100%;
    text-align: center;
}
.actions{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    height: 30%;
}
button{
    display: flex;
    padding: 0 10px;
}
.icon{
    width: 100%;
    display: flex;
    justify-content: center;
    color: red !important;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    height: 60px;
}

